# REDIS ENV
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password
REDIS_USE_TLS=false # true for cloud redis and false for local redis

# DATABASE
DATABASE_URL=postgres://user:pass@host:5432/db
